* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: rgb(38, 22, 122);
  color: #fff;
}

h1 {
  background-color: red;
  color: rgb(9, 255, 0);
  height: 5rem;
  line-height: 5rem;
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.choice {
  height: 155px;
  width: 155px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: rgb(255, 247, 0);
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  color: #fff;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.score-board {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 2rem;
  gap: 5rem;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

#user-score, #computer-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: black;
  color: #fff;
  font-size: 2rem;
  margin-top: 5rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  h1 {
      font-size: 2rem;
      height: auto;
      line-height: 3rem;
  }

  .choice {
      height: 100px;
      width: 100px;
  }

  img {
      height: 95px;
      width: 95px;
  }

  .score-board {
      font-size: 1.5rem;
      margin-top: 1rem;
      gap: 2rem;
  }

  #user-score, #computer-score {
      font-size: 2rem;
  }

  #msg {
      font-size: 1.5rem;
  }
}
